footer{
  .footer-row{
    height: 300px;
    align-items: center;
  }

  .custom-logo{
    width: 150px;
    height: auto;
    max-height: 300px;
  }

  .copyright{
    text-align: center;
  }

  .div-footer-menu{
    text-align: right;

    .footer-menu{
      list-style-type: none;
    }
  }
}