.woocommerce{
  .woocommerce-input-wrapper{
    width: 100%;
    display: block;
  }
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
  padding: .25rem;
  height: 30px;
  border: 1px solid darken(#f0f0f0, 30%);
  background: #f0f0f0;
}

.woocommerce-MyAccount-navigation{
  ul{
    padding-top: 10px;
    padding-left: 0;
    padding-right: 1rem;
    padding-bottom: 10px !important;
    list-style-type: none;
    border-radius: 0.2rem;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);

    hr{
      width: 50%;
      text-align: center;
      border: 1px solid grey;
    }

    li{
      margin-bottom: 10px;
    }
  }
}

.woocommerce-form-login__rememberme{
  margin-right: 20px;
}